.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.05;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    line-height: 1.04;
  }
}

@media screen and (max-width: 768px) {

  .lead__title {
    font-size: 12vw;
    line-height: 1.1;
    text-align: center;
  }

}

@media screen and (max-width: 425px) {

  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
  }

}
