.places__place {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  max-width: 984px;
  grid-auto-flow: column;
  gap: 48px 32px;
  padding: 0 0 80px 0;
}

.places__place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .places__place {
    grid-template-columns: 340px minmax(352px, max-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places__place {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 755px) {
  .places__place {
    grid-template-columns: repeat(1, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  }
}

@media screen and (max-width: 320px) {

  .places__place {
    padding-bottom: 49px;
    gap: 32px 0;
  }

}
