.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  width: 94%;
  max-width: 984px;
  margin: 8px auto 0;
}

@media screen and (max-width: 1024px) and (min-width: 927px) {
  .lead__caption {
    width: 100%;
  }
}
