.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  padding: 92px 0 24px 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 64px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    align-items: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
  }
}

